Victron Node Red/Other (Virtuals).json
[
    {
        "id": "9aa76971e5aacbd8",
        "type": "tab",
        "label": "Other (Virtuals)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e9c238be38dfc615",
        "type": "victron-virtual",
        "z": "9aa76971e5aacbd8",
        "name": "Enphase PV",
        "device": "pvinverter",
        "default_values": true,
        "battery_capacity": 25,
        "include_battery_temperature": false,
        "grid_nrofphases": 1,
        "include_motor_temp": false,
        "include_controller_temp": false,
        "include_coolant_temp": false,
        "include_motor_rpm": true,
        "include_motor_direction": true,
        "position": 0,
        "pvinverter_nrofphases": 1,
        "fluid_type": 0,
        "include_tank_battery": false,
        "include_tank_temperature": false,
        "tank_battery_voltage": 3.3,
        "tank_capacity": 0.2,
        "temperature_type": 2,
        "include_humidity": false,
        "include_pressure": false,
        "include_temp_battery": false,
        "temp_battery_voltage": 3.3,
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "63da225f629bddd3",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Connected",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Connected",
            "name": "/Connected",
            "type": "number",
            "value": 1
        },
        "name": "",
        "onlyChanges": false,
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "0c2960b5be26181c",
        "type": "inject",
        "z": "9aa76971e5aacbd8",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "63da225f629bddd3"
            ]
        ]
    },
    {
        "id": "94152efca0329e6c",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Serial",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Serial",
            "name": "/Serial",
            "type": "string",
            "value": "e9c238be38dfc615"
        },
        "name": "",
        "onlyChanges": false,
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "fdbe056efc8b32dd",
        "type": "inject",
        "z": "9aa76971e5aacbd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "42635462",
        "payloadType": "str",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "94152efca0329e6c"
            ]
        ]
    },
    {
        "id": "c5c329458ff4a379",
        "type": "inject",
        "z": "9aa76971e5aacbd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "dcf7d82d20667f40"
            ]
        ]
    },
    {
        "id": "12ed329f045d94ef",
        "type": "inject",
        "z": "9aa76971e5aacbd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5200",
        "payloadType": "num",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "7bede248bbb5ad18"
            ]
        ]
    },
    {
        "id": "dcf7d82d20667f40",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/StatusCode",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/StatusCode",
            "name": "/StatusCode",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "7bede248bbb5ad18",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/MaxPower",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Ac/MaxPower",
            "name": "/Ac/MaxPower",
            "type": "number",
            "value": 1000
        },
        "name": "",
        "onlyChanges": false,
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "f710fb60c2b82a8d",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L1/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Ac/L1/Voltage",
            "name": "/Ac/L1/Voltage",
            "type": "number",
            "value": 241.76
        },
        "name": "",
        "onlyChanges": false,
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "ee934bd04b2464f8",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L1/Power",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Ac/L1/Power",
            "name": "/Ac/L1/Power",
            "type": "number",
            "value": 2356.83
        },
        "name": "",
        "onlyChanges": false,
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "f36ec1e6375bd455",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L1/Energy/Forward",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Ac/L1/Energy/Forward",
            "name": "/Ac/L1/Energy/Forward",
            "type": "number",
            "value": 5386.582
        },
        "name": "",
        "onlyChanges": false,
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "cd6ef05ca65b599e",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L1/Current",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Ac/L1/Current",
            "name": "/Ac/L1/Current",
            "type": "number",
            "value": 9.152796161482463
        },
        "name": "",
        "onlyChanges": false,
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "f91c59eb7132039a",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/Power",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Ac/Power",
            "name": "/Ac/Power",
            "type": "number",
            "value": 2212.78
        },
        "name": "",
        "onlyChanges": false,
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "ba09394bb3fccf14",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/Energy/Forward",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase PV (100)"
        },
        "pathObj": {
            "path": "/Ac/Energy/Forward",
            "name": "/Ac/Energy/Forward",
            "type": "number",
            "value": 5386.582
        },
        "name": "",
        "onlyChanges": false,
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "a5cd8ee985da5c34",
        "type": "mqtt in",
        "z": "9aa76971e5aacbd8",
        "name": "PV Meter Enphase",
        "topic": "shellies/shellyem-1/emeter/0/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "88ba341fd585da42"
            ]
        ]
    },
    {
        "id": "8611f47023c644e9",
        "type": "switch",
        "z": "9aa76971e5aacbd8",
        "name": "Extract",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voltage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "total_returned",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reactive_power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pf",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "total",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "f0a8ca2ad713484c"
            ],
            [
                "f710fb60c2b82a8d",
                "60a339d9b398d890"
            ],
            [
                "f24aa0ba852a865a"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "f0a8ca2ad713484c",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "ABS/Limit",
        "func": "let power = parseInt(Math.ceil(Math.abs(msg.payload)));\nif (power < 5) {\n    power = 0;\n}\nmsg.payload = power;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            [
                "ee934bd04b2464f8",
                "f91c59eb7132039a",
                "60a339d9b398d890"
            ]
        ]
    },
    {
        "id": "60a339d9b398d890",
        "type": "join",
        "z": "9aa76971e5aacbd8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "381e5fe76782a558"
            ]
        ]
    },
    {
        "id": "381e5fe76782a558",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "Make Amps",
        "func": "let amps = 0;\nif (\n    (msg.payload.voltage != 0)\n    && (msg.payload.power > 4)\n    )\n{\n    // If power is below 5 Watt, than show as 0 Amps.\n    // This prevents showing 1-2 W on PV when no sun is shining\n     amps = (msg.payload.power / msg.payload.voltage);\n     amps = Math.round((amps + Number.EPSILON) * 100) / 100\n}\nmsg.topic = \"amps\"\nmsg.payload = amps;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 540,
        "wires": [
            [
                "cd6ef05ca65b599e"
            ]
        ]
    },
    {
        "id": "88ba341fd585da42",
        "type": "change",
        "z": "9aa76971e5aacbd8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "shellies/shellyem-1/emeter/0/",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "8611f47023c644e9"
            ]
        ]
    },
    {
        "id": "f24aa0ba852a865a",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "kWh",
        "func": "let kWh = (msg.payload / 1000.0);\nkWh = Math.round((kWh + Number.EPSILON) * 1000) / 1000\nmsg.payload = kWh;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "f36ec1e6375bd455",
                "ba09394bb3fccf14"
            ]
        ]
    },
    {
        "id": "3a61e56d3bd98883",
        "type": "comment",
        "z": "9aa76971e5aacbd8",
        "name": "7 = running, 8=standby",
        "info": "",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "e55a37c092aa569a",
        "type": "comment",
        "z": "9aa76971e5aacbd8",
        "name": "If Power is below 5 Watt, we display 0. This prevents displaying 1-2 Watts when there is no Sun",
        "info": "",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "8ad52523984d9bb3",
        "type": "mqtt in",
        "z": "9aa76971e5aacbd8",
        "name": "Basen BMS",
        "topic": "basen_pack_1/status/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 860,
        "wires": [
            [
                "5de5ce6544b45f93"
            ]
        ]
    },
    {
        "id": "5de5ce6544b45f93",
        "type": "change",
        "z": "9aa76971e5aacbd8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "basen_pack_1/status",
                "fromt": "str",
                "to": "basen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "7d7e757bfc97c5e6"
            ]
        ]
    },
    {
        "id": "510ca31b521b5b30",
        "type": "change",
        "z": "9aa76971e5aacbd8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "jk_pack_1/status",
                "fromt": "str",
                "to": "jk",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 980,
        "wires": [
            [
                "e981e1facbdcee0d"
            ]
        ]
    },
    {
        "id": "9bae87bbb9be9c01",
        "type": "mqtt in",
        "z": "9aa76971e5aacbd8",
        "name": "JK BMS",
        "topic": "jk_pack_1/status/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 940,
        "wires": [
            [
                "510ca31b521b5b30"
            ]
        ]
    },
    {
        "id": "7d7e757bfc97c5e6",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "SOC,Total kW,Volt,Amps, PWR",
        "func": "let msg2 = RED.util.cloneMessage(msg);\nlet msg3 = RED.util.cloneMessage(msg);\nlet msg4 = RED.util.cloneMessage(msg);\nlet msg5 = RED.util.cloneMessage(msg);\nmsg5.payload = msg.payload.battery_power;\nmsg4.payload = msg.payload.battery_current;\nmsg3.payload = msg.payload.battery_voltage;\nmsg2.payload = msg.payload.battery_kw;\nmsg.payload = msg.payload.soc;\n\nreturn [msg, msg2, msg3, msg4, msg5];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 900,
        "wires": [
            [
                "33b5561a487b7122",
                "99173553ebb3396f"
            ],
            [
                "81c49a35505eb9b8"
            ],
            [
                "f916f96980c953bb",
                "7c1588b159fa8ad1"
            ],
            [
                "d3eaba1b184b69d5",
                "4f988d989b23054d"
            ],
            [
                "b21429e8d508e955"
            ]
        ]
    },
    {
        "id": "e981e1facbdcee0d",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "SOC, TotalkW, Volt, Amps",
        "func": "let msg2 = RED.util.cloneMessage(msg);\nlet msg3 = RED.util.cloneMessage(msg);\nlet msg4 = RED.util.cloneMessage(msg);\nmsg4.payload = msg.payload.battery_current;\nmsg3.payload = msg.payload.battery_voltage;\nmsg2.payload = msg.payload.battery_kw;\nmsg.payload = msg.payload.soc;\n\nreturn [msg, msg2, msg3, msg4];\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 980,
        "wires": [
            [
                "33b5561a487b7122"
            ],
            [
                "81c49a35505eb9b8"
            ],
            [
                "f916f96980c953bb"
            ],
            [
                "d3eaba1b184b69d5"
            ]
        ]
    },
    {
        "id": "33b5561a487b7122",
        "type": "join",
        "z": "9aa76971e5aacbd8",
        "name": "Join SOC",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 670,
        "y": 880,
        "wires": [
            [
                "5814d8fa323c11c7"
            ]
        ]
    },
    {
        "id": "5814d8fa323c11c7",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "Calc SOC",
        "func": "//new routine\nfunction SocAverager() {\n    const samples = [];\n\n    // Method to add SOC/Ah pairs\n    function add(soc, ah) {\n        if (soc != 0) {\n            samples.push({ soc, ah });\n        }\n    }\n\n    // Method to get the weighted average SOC\n    function average() {\n        let totalCapacity = 0;\n        let weightedSocSum = 0;\n\n        for (const sample of samples) {\n            totalCapacity += sample.ah;\n            weightedSocSum += sample.soc * sample.ah;\n        }\n\n        if (totalCapacity === 0) return 0;\n        return weightedSocSum / totalCapacity;\n    }\n\n    // Return object with both methods\n    return {\n        add,\n        average\n    };\n}\n\nlet soc_jk_1 = msg.payload.jk;\nlet soc_jk_2 = msg.payload.jk2;\nlet soc_basen = msg.payload.basen;\n\nlet ah_jk = 314;\nlet ah_basen = 280;\n\nconst socTool = SocAverager();\nsocTool.add(soc_basen, ah_basen);\nsocTool.add(soc_jk_1, ah_jk);\nsocTool.add(soc_jk_2, ah_jk);\nlet c_soc = Math.round(socTool.average() * 10) / 10;\n\nmsg.topic = \"combined_soc\";\nmsg.payload = Math.round(c_soc * 10) / 10;\nmsg.sendnow = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 880,
        "wires": [
            [
                "c526dba98b24ed05",
                "78944cc006f58cae"
            ]
        ]
    },
    {
        "id": "c526dba98b24ed05",
        "type": "link out",
        "z": "9aa76971e5aacbd8",
        "name": "ToMQTT",
        "mode": "link",
        "links": [
            "04b33f5ed2e152e1"
        ],
        "x": 965,
        "y": 920,
        "wires": []
    },
    {
        "id": "81c49a35505eb9b8",
        "type": "join",
        "z": "9aa76971e5aacbd8",
        "name": "Join kW",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 660,
        "y": 920,
        "wires": [
            [
                "735e2c945aeda301"
            ]
        ]
    },
    {
        "id": "735e2c945aeda301",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "Calc Total",
        "func": "let kw_jk_1 = msg.payload.jk;\nlet kw_jk_2 = msg.payload.jk2;\nlet kw_basen = msg.payload.basen;\nmsg.topic = \"combined_kw\";\nmsg.payload = Math.round(kw_jk_1 + kw_jk_2 + kw_basen);\nmsg.sendnow = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 920,
        "wires": [
            [
                "c526dba98b24ed05"
            ]
        ]
    },
    {
        "id": "f916f96980c953bb",
        "type": "join",
        "z": "9aa76971e5aacbd8",
        "name": "Join Volt",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 670,
        "y": 960,
        "wires": [
            [
                "a549d62d279ee086"
            ]
        ]
    },
    {
        "id": "d3eaba1b184b69d5",
        "type": "join",
        "z": "9aa76971e5aacbd8",
        "name": "Join Amps",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "397351e6e516d7cf"
            ]
        ]
    },
    {
        "id": "a549d62d279ee086",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "Calc AVG",
        "func": "let volt_jk_1 = msg.payload.jk;\nlet volt_jk_2 = msg.payload.jk2;\nlet volt_basen = msg.payload.basen;\nmsg.topic = \"combined_volt\";\nlet avg = (volt_jk_1 + volt_jk_2 + volt_basen) / 3;\nmsg.payload = Math.round( parseFloat(avg) * 100 + Number.EPSILON ) / 100;\nmsg.sendnow = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 960,
        "wires": [
            [
                "c526dba98b24ed05",
                "58ce90eb695272f8",
                "d81ad0b4896cee2d"
            ]
        ]
    },
    {
        "id": "397351e6e516d7cf",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "Calc AVG",
        "func": "let amps_jk_1 = msg.payload.jk;\nlet amps_jk_2 = msg.payload.jk2;\nlet amps_basen = msg.payload.basen;\nmsg.topic = \"combined_amps\";\n\nlet avg = (amps_jk_1 + amps_jk_2 + amps_basen) / 1;\nmsg.payload = Math.round( parseFloat(avg) * 100 + Number.EPSILON ) / 100;\nmsg.sendnow = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1000,
        "wires": [
            [
                "c526dba98b24ed05",
                "8dec4e277566c140",
                "d81ad0b4896cee2d"
            ]
        ]
    },
    {
        "id": "bdf77e9728598ddd",
        "type": "victron-virtual",
        "z": "9aa76971e5aacbd8",
        "name": "Virtual Battery",
        "device": "battery",
        "default_values": true,
        "battery_capacity": "9504",
        "include_battery_temperature": false,
        "grid_nrofphases": 1,
        "include_motor_temp": false,
        "include_controller_temp": false,
        "include_coolant_temp": false,
        "include_motor_rpm": true,
        "include_motor_direction": true,
        "position": 0,
        "pvinverter_nrofphases": 1,
        "fluid_type": 0,
        "include_tank_battery": false,
        "include_tank_temperature": false,
        "tank_battery_voltage": 3.3,
        "tank_capacity": 0.2,
        "temperature_type": 2,
        "include_humidity": false,
        "include_pressure": false,
        "include_temp_battery": false,
        "temp_battery_voltage": 3.3,
        "x": 180,
        "y": 160,
        "wires": []
    },
    {
        "id": "78944cc006f58cae",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/101",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery/101",
            "name": "Virtual Battery (101)"
        },
        "pathObj": {
            "path": "/Soc",
            "name": "/Soc",
            "type": "number",
            "value": 80
        },
        "name": "",
        "onlyChanges": false,
        "x": 1080,
        "y": 880,
        "wires": []
    },
    {
        "id": "58ce90eb695272f8",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/101",
        "path": "/Dc/0/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/101",
            "name": "Virtual Battery (101)"
        },
        "pathObj": {
            "path": "/Dc/0/Voltage",
            "name": "/Dc/0/Voltage",
            "type": "number",
            "value": 24
        },
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 960,
        "wires": []
    },
    {
        "id": "8dec4e277566c140",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/101",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery/101",
            "name": "Virtual Battery (101)"
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "name": "/Dc/0/Current",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d81ad0b4896cee2d",
        "type": "join",
        "z": "9aa76971e5aacbd8",
        "name": "Join Power",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 670,
        "y": 1060,
        "wires": [
            [
                "513de15068422670"
            ]
        ]
    },
    {
        "id": "513de15068422670",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "Calc Power",
        "func": "let voltage = msg.payload.combined_volt;\nlet amps = msg.payload.combined_amps;\nmsg.topic = \"combined_power\";\nlet power = voltage*amps;\nmsg.payload = Math.round( parseFloat(power) * 100 + Number.EPSILON ) / 100;\nmsg.sendnow = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1060,
        "wires": [
            [
                "90e40c16fee803ba"
            ]
        ]
    },
    {
        "id": "90e40c16fee803ba",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/101",
        "path": "/Dc/0/Power",
        "serviceObj": {
            "service": "com.victronenergy.battery/101",
            "name": "Virtual Battery (101)"
        },
        "pathObj": {
            "path": "/Dc/0/Power",
            "name": "/Dc/0/Power",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 1100,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8ab24c05822f87e3",
        "type": "victron-virtual",
        "z": "9aa76971e5aacbd8",
        "name": "VR Basen Battery",
        "device": "battery",
        "default_values": true,
        "battery_capacity": "4480",
        "include_battery_temperature": false,
        "grid_nrofphases": 1,
        "include_motor_temp": false,
        "include_controller_temp": false,
        "include_coolant_temp": false,
        "include_motor_rpm": true,
        "include_motor_direction": true,
        "position": 0,
        "pvinverter_nrofphases": 1,
        "fluid_type": 0,
        "include_tank_battery": false,
        "include_tank_temperature": false,
        "tank_battery_voltage": 3.3,
        "tank_capacity": 0.2,
        "temperature_type": 2,
        "include_humidity": false,
        "include_pressure": false,
        "include_temp_battery": false,
        "temp_battery_voltage": 3.3,
        "x": 190,
        "y": 220,
        "wires": []
    },
    {
        "id": "99173553ebb3396f",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/102",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery/102",
            "name": "VR Basen Battery (102)"
        },
        "pathObj": {
            "path": "/Soc",
            "name": "/Soc",
            "type": "number",
            "value": 80
        },
        "name": "",
        "onlyChanges": false,
        "x": 730,
        "y": 700,
        "wires": []
    },
    {
        "id": "7c1588b159fa8ad1",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/102",
        "path": "/Dc/0/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/102",
            "name": "VR Basen Battery (102)"
        },
        "pathObj": {
            "path": "/Dc/0/Voltage",
            "name": "/Dc/0/Voltage",
            "type": "number",
            "value": 24
        },
        "name": "",
        "onlyChanges": false,
        "x": 750,
        "y": 740,
        "wires": []
    },
    {
        "id": "4f988d989b23054d",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/102",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery/102",
            "name": "VR Basen Battery (102)"
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "name": "/Dc/0/Current",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "b21429e8d508e955",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/102",
        "path": "/Dc/0/Power",
        "serviceObj": {
            "service": "com.victronenergy.battery/102",
            "name": "VR Basen Battery (102)"
        },
        "pathObj": {
            "path": "/Dc/0/Power",
            "name": "/Dc/0/Power",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 750,
        "y": 820,
        "wires": []
    },
    {
        "id": "8f7afdb403e119b1",
        "type": "mqtt in",
        "z": "9aa76971e5aacbd8",
        "name": "JK BMS 2",
        "topic": "jk_pack_2/status/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "bfadc506821c90ba"
            ]
        ]
    },
    {
        "id": "bfadc506821c90ba",
        "type": "change",
        "z": "9aa76971e5aacbd8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "jk_pack_2/status",
                "fromt": "str",
                "to": "jk2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 1080,
        "wires": [
            [
                "635f8f927fc6e7c1"
            ]
        ]
    },
    {
        "id": "635f8f927fc6e7c1",
        "type": "function",
        "z": "9aa76971e5aacbd8",
        "name": "SOC,Total kW,Volt,Amps, PWR",
        "func": "let msg2 = RED.util.cloneMessage(msg);\nlet msg3 = RED.util.cloneMessage(msg);\nlet msg4 = RED.util.cloneMessage(msg);\nlet msg5 = RED.util.cloneMessage(msg);\nmsg5.payload = msg.payload.battery_power;\nmsg4.payload = msg.payload.battery_current;\nmsg3.payload = msg.payload.battery_voltage;\nmsg2.payload = msg.payload.battery_kw;\nmsg.payload = msg.payload.soc;\n\nreturn [msg, msg2, msg3, msg4, msg5];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1060,
        "wires": [
            [
                "8726a276109867c3",
                "33b5561a487b7122"
            ],
            [
                "81c49a35505eb9b8"
            ],
            [
                "967854601bc8d921",
                "f916f96980c953bb"
            ],
            [
                "cff9adb1081a0663",
                "d3eaba1b184b69d5"
            ],
            [
                "ccd84a2ae4d8b5e8"
            ]
        ]
    },
    {
        "id": "b82fd64b9a12b756",
        "type": "victron-virtual",
        "z": "9aa76971e5aacbd8",
        "name": "VR JK_2 Battery",
        "device": "battery",
        "default_values": true,
        "battery_capacity": "5024",
        "include_battery_temperature": false,
        "grid_nrofphases": 1,
        "include_motor_temp": false,
        "include_controller_temp": false,
        "include_coolant_temp": false,
        "include_motor_rpm": true,
        "include_motor_direction": true,
        "position": 0,
        "pvinverter_nrofphases": 1,
        "fluid_type": 0,
        "include_tank_battery": false,
        "include_tank_temperature": false,
        "tank_battery_voltage": 3.3,
        "tank_capacity": 0.2,
        "temperature_type": 2,
        "include_humidity": false,
        "include_pressure": false,
        "include_temp_battery": false,
        "temp_battery_voltage": 3.3,
        "x": 190,
        "y": 280,
        "wires": []
    },
    {
        "id": "8726a276109867c3",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/100",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery/100",
            "name": "VR JK_2 Battery (100)"
        },
        "pathObj": {
            "path": "/Soc",
            "name": "/Soc",
            "type": "number",
            "value": 80
        },
        "name": "",
        "onlyChanges": false,
        "x": 700,
        "y": 1120,
        "wires": []
    },
    {
        "id": "967854601bc8d921",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/100",
        "path": "/Dc/0/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/100",
            "name": "VR JK_2 Battery (100)"
        },
        "pathObj": {
            "path": "/Dc/0/Voltage",
            "name": "/Dc/0/Voltage",
            "type": "number",
            "value": 24
        },
        "name": "",
        "onlyChanges": false,
        "x": 730,
        "y": 1160,
        "wires": []
    },
    {
        "id": "cff9adb1081a0663",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/100",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery/100",
            "name": "VR JK_2 Battery (100)"
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "name": "/Dc/0/Current",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 730,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ccd84a2ae4d8b5e8",
        "type": "victron-output-custom",
        "z": "9aa76971e5aacbd8",
        "service": "com.victronenergy.battery/100",
        "path": "/Dc/0/Power",
        "serviceObj": {
            "service": "com.victronenergy.battery/100",
            "name": "VR JK_2 Battery (100)"
        },
        "pathObj": {
            "path": "/Dc/0/Power",
            "name": "/Dc/0/Power",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 730,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ee1bb25c871ce5fc",
        "type": "mqtt-broker",
        "name": "HomeNas",
        "broker": "192.168.0.90",
        "port": "8883",
        "tls": "",
        "clientid": "Victron-NodeRed",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]